.cubes {
  &__container {
    width: 100%;
    
    iframe {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  &__heading {
    padding: 20px 30px 10px 30px;
  }

  &__card {
    min-width: 500px;
    width: 100%;
    padding: 0px;
  }
}