.card {
  
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 30px 40px 30px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
  }
}